html {
    padding: 20px;
    color: #3d3d3d;
    font-family: 'Roboto', sans-serif;
  }
  
.red {
    color: tomato;
}
input{
  height: 25px;
  width: 250px;
}
input:focus{
  outline: none;
}
::placeholder{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.btn-addCourse{
  background: #1e73be;
  max-width: 160px;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 8px 8px 8px rgba(0,0,0,.75);
}
.btn-addCourse:focus{
  outline: none;
}